<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF34EF722B94F077006DD458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF34EF882B94F078006DD458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFCCFEB82B9E22C500F36075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
